* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  overflow: hidden;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  /* border: 5px solid green; */
  background-color: #000;
}

.flex-item:nth-of-type(1) {
  flex-grow: 1;
}
.flex-item:nth-of-type(2) {
  flex-grow: 0;
}
.flex-item:nth-of-type(3) {
  flex-grow: 0;
}
.flex-item:nth-of-type(4) {
  flex-grow: 0;
}
.flex-item:nth-of-type(5) {
  flex-grow: 0;
}
.flex-item:nth-of-type(6) {
  flex-grow: 0;
}

.flex-item {
  height: auto;
  border: 3px solid rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  justify-content: flex-start;
  border: 1px solid blue;
}

.flex-item:nth-child(1):nth-last-child(2),
.flex-item:nth-child(1):nth-last-child(2) ~ .flex-item {
  width: 50%;
}

.flex-item:nth-child(1):nth-last-child(3),
.flex-item:nth-child(1):nth-last-child(3) ~ .flex-item {
  width: 33.33%;
}
.flex-item:nth-child(1):nth-last-child(4),
.flex-item:nth-child(1):nth-last-child(4) ~ .flex-item {
  width: 50%;
}

.flex-item:nth-child(1):nth-last-child(5),
.flex-item:nth-child(1):nth-last-child(5) ~ .flex-item {
  width: 33.33%;
}
.flex-item:nth-child(1):nth-last-child(6),
.flex-item:nth-child(1):nth-last-child(6) ~ .flex-item {
  width: 33.33%;
}

.flex-item canvas {
  width: 100% !important;
}
.chart_wrap {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
